{% load i18n %}
<div class="nav-collapse collapse">
  <nav class="nav navbar-nav">
    <li class="dashboard">
      <a href="dashboard"> <span class="ld-icon-dash-top"></span> <span class="ld-icon-dash"></span>{% trans "dashboard" %} </a>
    </li>

    <li class="homework">
      <a href="homework">
        <span class="ld-icon-homework"></span>{% trans "homework" %}
      </a>
    </li>

    <li class="messages">
      <a href="#"> <span class="fa fa-envelope"></span> {% trans "messages" %} </a>
    </li>

    <li class="notices">
      <a href="noticeboard">
        <span class="ld-icon-notices"></span>{% trans "notices" %}
      </a>
    </li>

    <li class="events">
      <a href="calendar">
        <span class="ld-icon-events"></span>{% trans "events" %}
      </a>
    </li>

    <li class="timetable">
      <a href="timetable">
        <span class="ld-icon-timetable"></span>{% trans "timetable" %}
      </a>
    </li>

    <li class="classes">
      <a href="classes">
        <span class="fa fa-group"></span>{% trans "classes" %}
      </a>
    </li>

    <li class="resources">
        <a href="{{ url.getBaseUri( %}resources">
            <span class="fa fa-folder-open"></span> {% trans "resources" %}
        </a>
    </li>

    <li class="dashboard">
      <a href="{{ url.getBaseUri( %}{{ user.getController( %}">
        <span class="ld-icon-dash-top">
        </span> <span class="ld-icon-dash"></span>
        {% trans "dashboard" %}
      </a>
    </li>

    <li class="policies">
      <a href="policies">
        <span class="fa fa-lock"></span>{% trans "policies" %}
      </a>
    </li>
  </nav>
</div>

