/*!
 * Copyright 2015 Learning Data.
 */
/*
 * GLOBAL CLASSES:
    * Font
 *
 * UI COMPONENTS:

 *  PRINT CSS
 */

/* Fonts */
.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.normal {
  font-weight: 400;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.extrabold {
  font-weight: 800;
}
.italic {
  font-style: italic;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* UI COMPONENTS
  search box*/
.searchBox {
  position: relative;
}
.searchBox .searchBox_input {
  width: 84%;
  width: calc(100% - 50px);
  float: left;
  margin: 5px 0;
}
.searchBox .searchBox_btn {
  min-width: 10px;
  width: 14%;
  width: calc(0% + 50px);
  line-height: 1.5em;
  height: 45px;
  float: left;
  margin-top: 5px;
  margin-right: 0;
}
.searchBox .searchBox_clear {
  position: absolute;
  right: 70px;
  top: 18px;
  font-size: 18px;
  color: #bcbec0;
}

/* PRINT CSS */
.btn-print {
  background: none;
  font-size: smaller;
  font-weight: lighter;
}
/* students */
#printStudents {
  display: none;
}
@media print {
  body.print-students > *:not(#printStudents) {
    display: none;
  }
  body.print-students #printStudents {
    display: block;
  }

  body.print-students #printStudents td,   body.print-students #printStudents th {
    padding: 10px;
  }

  /* hide all children of #container that are not #content * /
  body.print-students #printContent > *:not(#printable) {
    display: none;
  }*/
}
