.ld-calendar .modal .content-block {
  display: inline-block;
}
.ld-calendar .modal .value {
  display: inline-table;
  width: 87%;
}
.ld-calendar .modal hr {
  border-top-color: #b4b4b4;
}
ld-calendar .modal-body .fa {
  color: #b4b4b4;
  padding: 0 10px 0 20px;
}
.popover-form .fa {
  color: #b4b4b4;
  padding: 0 10px 0 0;
}
.ld-calendar .fc-event {
  cursor: pointer;
}
.popover-form {
  width: 370px;
  padding: 20px;
}
/* agenda */
.ld-calendar .fc-header-title.agenda h2 {
  margin-top: 14px;
}
.ld-calendar .agenda-list {
  overflow: hidden;
  margin-top: 35px;
}
.ld-calendar .agenda-item span {
  display: block;
  font-size: 14px;
  color: #4d4d4f;
}
.ld-calendar .agenda-item .day-format {
  display: block;
  border: solid 1px #cbcbcb;
  border-width: 1px 0;
  padding: 10px 0;
  margin: 20px 0;
}
.ld-calendar .agenda-item .time-format {
  border: solid 1px #dfdddd;
  border-width: 0 0 1px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.ld-calendar .agenda-item .time-format:last-child {
  border: none;
}
.ld-calendar .agenda-item .day-week {
  font-size: 24px;
  font-weight: bold;
  color: #cbcbcb;
  display: inline-block;
  margin-right: 10px;
}
.ld-calendar .agenda-item .day-month {
  font-size: 18px;
  color: #dfdddd;
  letter-spacing: 1px;
  display: inline-block;
}
.ld-calendar .agenda-item .time {
  font-weight: normal;
  font-size: 11px;
  color: #FFFFFF;
  padding: 3px 5px;
  display: inline-block;
  border-radius: 5px;
  margin-right: 5px;
  float: left;
}
.ld-calendar .agenda-item .all-day-title {
  display: table;
}
/* new event */
#start-time[readonly], #end-time[readonly] {
  background-color: transparent;
}

@media (max-width: 767px) {
  .fc-event-container {
    display: none;
  }
}