/* CSS reset */
.hidden {
    display: none !important;
}
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, form, input, p, a {
  margin: 0;
  padding: 0;
}
*, a {
  outline: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: none;
}

fieldset, img {
  border: 0;
}
input {
  padding: 3px 5px 4px;
  color: #979797;
  width: 190px;
}
ol, ul {
  list-style: none;
}

/* General Style */
body {
  background: #FFF;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

.show-to-mobile  {
  display: none;
}

/* Fonts */
h1, h2, h3, h4, h5, h6  {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.1;
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: normal;
}
h1  { font-size: 36px; }
h2  { font-size: 30px; }
h3  { font-size: 24px; }
h4  { font-size: 21px; }
h5  { font-size: 18px; }
h6  { font-size: 16px; margin-bottom: 10px; }
.light      { font-weight: 300; }
.normal     { font-weight: 400; }
.semibold   { font-weight: 600; }
.bold       { font-weight: 700; }
.extrabold  { font-weight: 800; }
p {
  margin-bottom: 15px;
  font-weight: 300;
}
hr {
  clear: both;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 20px;
}
p a {
  color: #333;
  text-decoration: none;
  border-bottom: dotted 1px #333;
}

/* Support Button*/
.ld-support {
  top: 50%;
  right: -111px;
  margin-top: -50px;
  padding: 10px 20px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #f7941d;
  color: #ffffff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  position: fixed;
  text-align: center;
  display: block;
  z-index: 100000;
}

/* Login Page */
#login #wrapper {
  width: 820px;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  z-index: 9999;
  height: auto;
}
#login header {
  text-align: center;
  margin-bottom: 100px;
}
#login h1 {
  color: #FFFFFF;
}
.alert.success-alert  {
  text-align: center;
  padding: 10px 5px;
  width: calc(100% - 10px);
  margin-bottom: 20px;
  font-size: 14px;
  background-color:rgba(255,0,0,0.5);
}
.signin, .signup {
  background-color:rgba(0,0,0,0.5);
  float: left;
  padding: 2.5%;
  padding-bottom: 0;
  color: #FFFFFF;
  width: 50%;
  height: 280px;
  position: relative;
  overflow: hidden;
}
.signup {min-height: 275px;}
.signin {
  float: right;
  width: 35%;
  margin-left: 5%;
}
.signin .alert + .alert {
  font-size: smaller;
}
.signin form, .signin form:not(:first-child) {
  margin: 0;
  padding: 0;
}
.signin .form-control {
  margin: 0 0 10px;
  padding-left: 2%;
  width: 98%;
}
.signin .form-control.password {
  width: 65%;
  float: left;
  margin-right: 3%;
  margin-bottom: 0;
}
.signin .btn.btn-login  {
  width: 30%;
  min-width: 30%;
  height: 45px;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  -webkit-appearance: none;
  border-radius: 0;
}
.logins {
  text-align: center;
}
.fancy {
  line-height: 0.7;
  text-align: center;
  overflow: hidden;
  margin: 25px 0;
}
.fancy span {
  display: inline-block;
  position: relative;
  font-size: 16px;
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-top: 1px solid white;
  top: 5px;
  width: 600px;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}
.signup .ld-video {
  color: #f7941e;
  line-height: 37px;
  display: block;
  margin-bottom: 30px;
}
.signup .ld-video span {
  font-size: 36px;
  display: block;
  float: left;
  margin-right: 5px;
}
.signup .ld-logo, .ld-contact  {
  display: block;
  float: left;
}
.ld-contact {
  float: right;
}
.link-forgot, .link-forgot:hover, .ld-contact, .ld-contact:hover  {
  font-size: 12px;
  color: #FFFFFF;
  margin: 15px 0;
  display: inline-block;
  font-weight: normal;
}
.ld-contact, .ld-contact:hover  {
  margin: 10px 0 10px 20px;
}
.link-forgot.microsoft-message  {
  margin-left: 53%;
}

.btn.btn-signup {
  width:100%;
  margin: 0 0 40px;
  padding: 0;
  display: block;
}
.btn.btn-signup a {
    color: #ffffff;
    display: block;
    height: 35px;
    padding: 10px 0 0;
    width: 100%;
}
#app-entry a.color {
  color: #f7941d;
  font-weight: bold;
  border: none;
}
/* Signup page modifications */
#app-entry a.back {
  font-size: 12px;
  color: #FFF;
  font-weight: bold;
}
#app-entry {
  background-color: #636466;
  margin: 0 auto;
  width: 750px;
  color: #fff;
}
.terms-link     {padding-left: 35px;}
.terms-link, .terms-link a   {
  color: #f7941e;
  margin-top: 5px;
}
#app-entry .form-control {
  margin-bottom: 0px;
}
#app-entry .selector {
  float: left;
  height: 45px;
  position: relative;
  overflow: hidden;
  width: 100%;
  border: solid 1px #bcbec0;
  margin: 5px 3px 0 0;
}

#app-entry .selector span {
  line-height: 45px;
  padding: 0 0 0 3px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  width: 100%;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
  cursor: pointer;
  color: #979797;
  font-size: 14px;
}
#app-entry .selector span:after {
  font-family: FontAwesome;
  content: "\f0d7";
  color: #979797;
  float: right;
  margin-right: 5px;
  font-size: 25px;
}
#app-entry .selector select {
opacity: 0;
filter: alpha(opacity=0);
-moz-opacity: 0;
border: none;
background: none;
position: absolute;
height: 40px;
top: 2px;
left: 0px;
width: 100%;
cursor: pointer;
margin: 0;

}

#app-entry select {
  margin: 0px;
}
#app-entry .logo {
  margin: 30px 0;
  text-align: center;
}
#app-entry .message {
  margin: 10px 0;
  font-size: smaller;
}
#app-entry .message a {
 color: #fff;
 font-weight: bold;
 cursor: pointer;
}
#app-entry .new-school-link {
  position: absolute;
  bottom: 1px;
}
#app-entry .access-type {
  text-align: center;

}
#app-entry .flat-btn {
  display: inline-block;
  padding: 24px;
  border-bottom-color: #e28e09;
}
#app-entry .flat-btn .img {
  font-size: 62px;
  display: block;
  border-bottom: 1px solid #e28e09;
  padding-bottom: 12px;
  margin-bottom: 12px;
}
#app-entry .flat-btn:hover {
  color: #e28e09;
  border-bottom-color: #e28e09;
  cursor: pointer;
}
#app-entry.teacher .step-code .span-col-6 {
  display: table-cell;
  padding: 0 20px 0 10px;
  width: 50%;
  position: relative;
}
#app-entry.teacher .step-code .span-col-6 {
  padding: 0 10px 0 20px;
}
#app-entry.teacher .step-code h2 {
  margin-top: 20px;
  font-size: 20px;
}
#app-entry.teacher .step-code h2 .fa {
  padding: 0 20px 0 0
}
 .new-school {
  border-left: 1px solid #fff;
}
#app-entry .step-teacher, #app-entry .step-student, #app-entry .step-details,
#app-entry .step-school, #app-entry.teacher .step-choose-type, #app-entry .step-code,
#app-entry.student .step-choose-type, #app-entry.student .teacher,
#app-entry.teacher .student, #app-entry.student .selector.name {
  display: none;
}
#app-entry.code .step-code,
#app-entry.details .step-details,
#app-entry.school .step-school,
#app-entry label.name {
  display: block;
}
#app-entry .create-title, #app-entry.teacher .join-title,
#app-entry.school .details-only{
  display: none;
}
#app-entry.school .create-title {
  display: block;
}
#app-entry .form-message {
  margin: 10px 0 40px;
  font-size: 12px;
}
#app-entry.school br.step-school {
  margin-bottom: 20px;
}
#intro {
  float: left;
  display: block;
  width: 45%;
  height: auto;
  overflow: hidden;
}
.password-wrapper, .inline-control {
  width: 49%;
  display: inline-block;
  margin-top: 20px;
}

#app-entry input, #app-entry select {
    border: 1px solid #bcbec0;
}
#app-entry form {
    padding: 10px;
}
#app-entry .btn {
    width: auto;
}
#app-entry .btn.user {
    background: none;
    border: 1px solid #e28e09;
    color: #e28e09 !important;
    width: 45%
}
#app-entry select.name {
    padding: 13px 12px;
}
#app-entry input[type="checkbox"] {
    width: auto;
}
#app-entry .span-col-6 {
    max-width: 49%;
    min-width: 49%;
    display: inline-block;
}
#app-entry .span-col-2 {
    max-width: 14.99%;
    display: inline-block;
}
#app-entry .span-col-5 {
    max-width: 40.99%;
    min-width: 40.99%;
    display: inline-block;
}
/* ui-autocomplete */
#app-entry .ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
#app-entry .ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}
#app-entry .ui-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  outline: none;
}
#app-entry .ui-menu-item {
  background: #fff;
  color: #979797;
}
#app-entry .ui-state-focus {
  background: #5280EF;
  font-weight: normal;
  display: block;
  color: #fff;
}
#app-entry .footer {
  margin: 50px 0 0;
  font-size: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 40px;
}
#app-entry .footer .footer-block {
  width: 50%;
  height: 60px;
  margin-top: 10px;
}
#app-entry .footer .footer-block.social {
  padding-top: 20px;
}
#app-entry .footer-block a.social {
  border: none;
}
#app-entry .footer-block a.social img {
  padding: 0 5px;
  width: 20px;
}

/* Uploader */
.uploader {
  height: 45px;
  width: 98%;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  margin: 5px 0 8px;
  display: inline-block;
}
.uploader .action, .uploader .filename {
  height: 45px;
  color: #fff;
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  line-height: 46px;
  text-align: center;
}
.uploader .action {
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  padding-left: 5%;
  padding-right: 5%;
  background: #e28e09;
  text-transform: uppercase;
}
.uploader .filename {
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
  cursor: default;
  width: 100%;
  color: #d1d3d4;
  text-align: left;
}
.uploader input {
  opacity: 0;
  -moz-opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 50;
}

/**** Forgot Page | Change Page ****/
#app-entry .btn.reset {
  padding: 12px;
}
#app-entry .alert {
  padding: 10px;
  color: #c09853;
  background-color: #fcf8e3;
}
#app-entry .alert a {
  float: right;
  color: inherit;
}
/*Background Filter*/
.ld-dottedoverlay {
  background-image: url(../img/bg-dotsgrid.png);
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}
.ld-dottedoverlay {
  background-color:rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

/*Start Slide Show*/
.cb-slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}
.cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover!important;
  background-position: 50% 50%!important;
  background-repeat: none!important;
  z-index: 0;
  background: #FF0000;
}

  .cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover!important;
    background-position: 50% 50%!important;
    background-repeat: none!important;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s;
  }
  .cb-slideshow li:nth-child(1) span {
    background-image: url(../img/artwork/0.jpg)
  }
  .cb-slideshow li:nth-child(2) span {
    background-image: url(../img/artwork/1.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
  }
  .cb-slideshow li:nth-child(3) span {
    background-image: url(../img/artwork/2.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
  }
  .cb-slideshow li:nth-child(4) span {
    background-image: url(../img/artwork/3.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
  }
  .cb-slideshow li:nth-child(5) span {
    background-image: url(../img/artwork/4.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
  }
  .cb-slideshow li:nth-child(6) span {
    background-image: url(../img/artwork/5.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
  }

  /* Animation for the slideshow images */
  @-webkit-keyframes imageAnimation {
    0%    { opacity: 0; -webkit-animation-timing-function: ease-in; }
    8%    { opacity: 1; -webkit-animation-timing-function: ease-out; }
    17%   { opacity: 1; }
    25%   { opacity: 0; }
    100%  { opacity: 0 }
  }
  @-moz-keyframes imageAnimation {
    0%    { opacity: 0; -moz-animation-timing-function: ease-in; }
    8%    { opacity: 1; -moz-animation-timing-function: ease-out; }
    17%   { opacity: 1; }
    25%   { opacity: 0; }
    100%  { opacity: 0 }
  }
  @-o-keyframes imageAnimation {
    0%    { opacity: 0; -o-animation-timing-function: ease-in; }
    8%    { opacity: 1; -o-animation-timing-function: ease-out; }
    17%   { opacity: 1;}
    25%   { opacity: 0;}
    100%  { opacity: 0}
  }
  @-ms-keyframes imageAnimation {
    0%    { opacity: 0; -ms-animation-timing-function: ease-in; }
    8%    { opacity: 1; -ms-animation-timing-function: ease-out; }
    17%   { opacity: 1; }
    25%   { opacity: 0; }
    100%  { opacity: 0 }
  }
  @keyframes imageAnimation {
    0%    { opacity: 0; animation-timing-function: ease-in; }
    8%    { opacity: 1; animation-timing-function: ease-out; }
    17%   {opacity: 1; }
    25%   {opacity: 0; }
    100%  {opacity: 0 }
  }

  /* Show at least something when animations not supported */
  .no-cssanimations .cb-slideshow li span { opacity: 1; }
  /*End Slide Show*/

/* Forms */
/*/////FORMS & FORM CONTROLS/////*/
form {
  padding: 10px;
}
form:not(:first-child) {
  padding: 10px 0;
}
.form-control, form textarea {
  width: 98%;
  height: 45px;
  margin: 5px 0 20px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0 0 0 5px;
  font-family:  'Open Sans', sans-serif;
  font-size: 14px;
}
form textarea {
  line-height: 1.2;
  padding: 10px !important;
  height: auto;
}
.form-control:focus {
  border-color: #f7941e;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(247, 148, 30, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(247, 148, 40, 0.6);
}
form select {
  width: 85%;
  height: 45px;
  margin: 20px 0;
  box-shadow: none;
  color: #a2a2a2;
  border: solid 1px #f2f2f2;
  padding: 6px 12px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
form input[disabled] {
  background-color: #f1f1f1;
  color: #c8c8cd;
}
form .error .form-control, form .error input[type='text'], form .error texxtarea {
  border-color: #e26a6a;
}
.validation-box.error {
    display: block
}
.inline-field {
    display: block;
}
.validation-box.inline-control.error {
    display: inline-block;
}
.validation-error, .error {
  display: none;
}
.validation-error {
  color: #e26a6a;
  padding: 0 0 0 10px;
}
#app-entry .validation-error {
  color: #f7941e;
}
.validation-box.error .validation-error:before {
  font-family: FontAwesome;
  content: '\f06a';
  margin-right: 5px;
}
.validation-box.error.required .validation-error.required,
.validation-box.error.email .validation-error.email,
.validation-box.error.match .validation-error.match,
.validation-box.error.number .validation-error.number,
.validation-box.error.number-phone .validation-error.number-phone,
.validation-box.error.password .validation-error.password,
.validation-box.error.ajax .validation-error.ajax,
.validation-box.error.custom .validation-error.custom {
  display: inline;
}
.validation-box.error div.validation-error {
  display: block;
}
.btn {
  background-color: #f7941e;
  width: 40%;
  margin: 0;
  margin-bottom: 25px;
  display: inline-block;
  min-width: 180px;
  padding: 8px 12px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #fff !important;
  margin-right: 5px;
  text-align: center;
  font-weight: 400;
  border: none;
  cursor: pointer;
}
.btn.btn-login  {
  width: 100%;
}
.btn.dismiss {
  background-color: #dcddde;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label .display {
  zoom: 1;
  text-align: center;
  display: inline-block;
  border: solid 1px;
  width: 20px;
  height: 20px;
  border-color: #fff;
  line-height: normal;
  background: #fff;
  color: #fff;
  margin: 0 10px 0 0;
}
input[type="checkbox"] + label .display:before {
  font-family: FontAwesome;
  content: "\f00c";
}
input[type="checkbox"]:checked + label .display:before {
  color: #a2a2a2;
}
.fa.fa-external-link {
  color: #fff;
}
/*      Extra small devices Phones (<991px).
 ---------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #login #wrapper {
    width: 96%;
  }
  #login header {
    margin-bottom: 50px;
  }
  .signin {
    margin-left: 1%;
    width: 39%;
  }
}

/*      Extra small devices Phones (<991px).
 ---------------------------------------------*/
@media only screen and (min-width: 319px) and (max-width: 991px) {
  #wrapper {
    width: 92%;
    margin-top: 2%;
    padding: 2%;
  }
  p {
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 12px;
  }
  .form-control, form textarea {
    width: 97%;
    height: 45px;
    margin: 5px 0 20px;
    padding: 0 0 0 2%;
  }
  .btn {
    float: none;
    padding: 8px 0;
    margin: 0 auto;
    display: block;
  }
  #app-entry .btn {
    width: 100%;
    margin: 0;
  }
  #app-entry.teacher.code .btn {
    width: 94%;
    margin: 0;
  }
  #app-entry .btn.user {
    width: 99%
  }
  #app-entry .span-col-6 {
    display: block;
    max-width: 100%;
  }

/* Full Background Image*/
  .cb-slideshow li:nth-child(1) span  { background: none; }
  .cb-slideshow li:nth-child(2) span,
  .cb-slideshow li:nth-child(3) span,
  .cb-slideshow li:nth-child(4) span,
  .cb-slideshow li:nth-child(5) span,
  .cb-slideshow li:nth-child(6) span { display: none; }

  /**** Forgot Page ****/
  #app-entry .btn.reset {
    display: inline-block;
  }
  #app-entry .form-control  {
    width: 98%;
    padding-left: 2%;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 319px) and (max-width: 767px) {
  #app-entry {
    width: 96%;
    height: auto;
    position: static;
    margin: 30px 0 0;
  }
  #app-entry .inline-control {
    margin: 0!important;
    width: 50%;
    float: left;
  }
  #app-entry label {
    white-space: pre;
  }
  #app-entry .form-control  {
    width: 98%;
    padding-left: 2%;
    margin-bottom: 10px;
    font-size: 80%;
  }
}

@media only screen and (max-width: 767px) {
  .show-to-mobile  {
    display: inline-block;
  }
  .show-to-desktop  {
    display: none;
  }
  #login #wrapper {
      height: auto;
      margin: 20px auto 0;
      width: 96%;
  }
  #login header {
    text-align: left;
    margin: 0 0 40px;
  }
  #login h1, .signup h3 {
    font-size: 20px;
    color: #6a6b6f;
    margin: 20px 0 0;
  }
  .signup h3 {
    margin: 20px 0 10px;
  }
  .signin, .signup {
    background: none;
    color: #ffffff;
    padding: 0;
    width: 100%;
  }
  .signin .form-control.password  {
    margin: 0;
  }
  .signin input {
    border: solid 1px #a7a9ac;
  }
  .signup-footer  {
    text-align: center;
    padding-top: 20px;
    clear: left;
    margin-left: -20px;
  }
  .link-forgot, .ld-contact, .link-forgot:hover, .ld-contact:hover {
    color: #939598;
    font-size: 14px;
    float: none;
  }
  .btn.btn-login  {
    float: right;
    border: none;
    height: 47px!important;
  }
  .btn.btn-signup {
    background: none;
    color: #f7941e!important;
    margin: 0 auto 35px;
    width: 100%;
}
  .btn.btn-signup span, .btn.btn-signup a {
    display: inline;
  }
  .btn.btn-signup a {
    color: #f7941e;
    font-weight: 700;
  }
  .ld-logo  {
    display: block;
    text-align: center;
    width: 100%;
  }
  .ld-logo img  {
    width: 80%;
  }
  hr.show-to-mobile  {
    display: block;
  }

  .fancy {
    margin: 20px 0;
    color:#a7a9ac;
  }
  .fancy span:before,
  .fancy span:after {
    border-top: 1px solid #a7a9ac;
  }
}
