.ld-notices .note .ld-notice-icon:before, .ld-notices .note.general .ld-notice-icon:before {
  content: "\f02e";
}
.ld-notices .note.Thanks .ld-notice-icon:before, .ld-notices .note.thanks .ld-notice-icon:before {
  content: "\f164";
}
.ld-notices .note.Thanks .ld-notice-icon, .ld-notices .note.thanks .ld-notice-icon {
  color: #898C27;
}
.ld-notices .note.Meeting .ld-notice-icon:before, .ld-notices .note.meting .ld-notice-icon:before {
  content: "\f0b1";
}
.ld-notices .note.Meeting .ld-notice-icon, .ld-notices .note.meting .ld-notice-icon {
  color: #10A236;
}
.ld-notices .note.Sport .ld-notice-icon:before, .ld-notices .note.sport .ld-notice-icon:before {
  content: "\f11e";
}
.ld-notices .note.Sport .ld-notice-icon, .ld-notices .note.sport .ld-notice-icon {
  color: #9752A3;
}
.ld-notices .note.Announcements .ld-notice-icon:before, .ld-notices .note.announcements .ld-notice-icon:before {
  content: "\f0a1";
}
.ld-notices .note.Announcements .ld-notice-icon, .ld-notices .note.announcements .ld-notice-icon {
  color: #DC3B42;
}
.ld-notices .note.celebration .ld-notice-icon:before, .ld-notices .note.Celebration .ld-notice-icon:before {
  content: "\f091";
}
.ld-notices .note.celebration .ld-notice-icon, .ld-notices .note.Celebration .ld-notice-icon {
  color: #FF0097
}
.ld-notices .note.schoolbag-special .ld-notice-icon:before {
  font-family: ld-icon;
  content: "\e600";
  text-rendering: auto;
  transform: translate(0, 0);
  font-size: 30px;
}
.ld-notices .note.schoolbag-special .ld-notice-icon {
  color: #f7941d
}
.ld-notices .note.After .ld-notice-icon:before, .ld-notices .note.after .ld-notice-icon:before {
  content: "\f186";
}
.ld-notices .note.After .ld-notice-icon, .ld-notices .note.after .ld-notice-icon {
  color: #f7941d;
}

/* create/edit notice  */
.ld-notices .ld-tree {
  display: inline-block;
  color: #a2a2a2;
  margin: 10px 0 20px;
}

.ld-notices .ld-tree > label {
  display: block;
}
.ld-notices .sub-list {
  margin: 3px 5px 10px;
  float: left;
  width: 23%;
  font-size: 14px;
  padding-left: 3px;
}
.ld-notices .ld-leaf {
  margin: 5px 0 0 10px;
  display: block;
}
.ld-notices .form .radio-box {
  height: auto;
}
.ld-notices .form .radio-box label {
  font-weight: normal;
}
.ld-notices .display-date {
  background: transparent;
  cursor: pointer
}
.ld-notices .files .btn-icon {
  display: inline-block;
}
/* add file */
.ld-notices .ld-card {
    margin-bottom: 0;
    padding-bottom: 20px;
}
.ld-notices #resourceImportModal .resource-browser .ld-card {
  display: none;
}
.ld-notices #resourceImportModal .ld-card.image,
.ld-notices #resourceImportModal .ld-card.pdf,
.ld-notices #resourceImportModal .ld-card.file {
  display: inline;
}
.ld-notices .add-file-list > :nth-child(n+3) {
  display: none;
}
/* view upcoming notices */
.ld-notices .user-notices .btn-icon.btn-delete {
  padding: 3px 0 0;
}

/* List page - all 5 notices */
.notice-space {
  margin: 0 0 10px;
  padding: 20px 20px 0 0;
  color: #6d6e71;
  width: 33.3333%;
  float: left;
}
.note {
  padding: 10px;
  border-bottom: solid 1px #cad3e2;
  position: relative;
}
.notice-space:first-of-type {
  width: 66.6667%;
}
.view-user-notices  {
  margin-right: 20px;
}

/* Table editing mode */
.ld-notices .container-table  {
  margin-top: 20px;
}
.ld-notices .container-cell {
  cursor: default;
}
.ld-notices .container-cell, .ld-notices .container-cell .ld-notice-icon {
  color: #0ba6d3!important;
}
.container-row .note {
  border: none;
}
.ld-notices .container-cell .ld-notice-icon {
  font-size: 24px;
}
.ld-notices .container-cell .btn-icon {
  color: #fff!important;
  background-color:
}

/* adjusting height for each block  */
.notice-space:first-of-type .note, .notice-space:nth-child(2) .note {
  height: 280px;
}
.notice-space .note {
  height: 290px;
}
.notice-space .text:first-of-type, .notice-space .text:nth-last-child(2) {
  height: 200px;
  display: block;
}
.notice-space .text {
  height: 150px;
  display: block;
}

.notice-space .date, .notice-space .author, .notice-page-show .date, .notice-page-show .author {
  font-size: 14px;
  color: #6d6e71;
  font-weight: 100;
}
.notice-space .text {
  font-size: 14px;
}
.note .message .text {
  white-space: pre-line;
}

.notice-space  #notice-message {
    display: none;
}

.notice-space  #notice-image img {
    width: 228px;
    height: 62px;
    float: right;
}
.ld-notices .container-cell-notice img  {
  width: 100%;
}
.notice-space p .text:first-line {
  font-size: 16px;
  font-weight: bold;
  clear: both;
  line-height: 30px;
}
.notice-space:first-of-type p .text:first-line {
  font-size: 24px;
  line-height: 45px;
}

.notice-space .btn-group {
  position: absolute;
  bottom: 25px;
  right: 10px;
}
.btn-readmore {
  position: absolute;
  bottom: 25px;
  left: 10px;
}
.notice-space a {
  display: block;
  float: left;
}
.ld-notices .message a {
  display: inline;
  float: none;
}


/* view user notices  */
table.user-notices {
  table-layout: fixed;
  width: 95%;
  margin: 0 20px;
}
.user-notices tr {
  border-bottom: 1px solid #d5d5d5;
}
.user-notices tr.expired {
  background-color: #d5d5d5;
  color: #e3e3e3;
}
table.user-notices tbody tr.active td {
  border: none;
}
.user-notices tr.pending {
  background-color: #999;
  color: #fff;
}
table.user-notices tbody tr td {
  padding: 0 2px;
}
table.user-notices tbody tr td.text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Rules for icons and categorys */
.message span:first-of-type {
  float: left;
  margin: 0 15px 0 0;
  font-size: 48px;
}
.notice-space:first-of-type .message span:first-of-type {
  font-size: 100px;
  line-height: 100px;
}
.notice-space:nth-child(2) .message span:first-of-type {
  font-size: 60px;
  margin-top: 3px;
}

/* Show page */
.notice-space.notice-page-show {
  width: 100% !important;
  padding: 20px;
}
.notice-space.notice-page-show .fa-download {
  font-size: 40px;
}
.notice-page-show {
  border: none;
}
.notice-page-show .message {
  margin-top: 20px;
  line-height: 24px;
}
.notice-page-show .message span:first-child {
  font-size: 75px;
  line-height: 75px;
}


/* phone view */
@media only screen and (min-width: 319px) and (max-width: 767px) {
  .notice-space:first-of-type .message span:first-of-type {
    font-size: 80px;
    line-height: 80px;
  }
  .notice-space, .notice-space:first-of-type {
    width: 100%;
  }
  .notice-space {
    padding: 10px 10px 0;
  }
  .note {
    padding: 10px;
  }
  .notice-space .btn-group {
    right: 0;
    bottom: 10px;
  }
  .btn-readmore {
    bottom: 10px;
    left: 0;
    font-size: 18px;
    clear: both;
  }
  /* adjusting height for each block  */
  .notice-space:first-of-type .note, .notice-space:nth-child(2) .note {
    height: 200px;
  }
  .notice-space .note {
    height: 200px;
  }
  .notice-space .text {
    height: 120px;
    display: block;
  }
  .ld-notices .sub-list {
    width: 31%;
  }

  .ld-notices .button-action {
    display: inline-block;
    margin-left: -4px;
    text-align: center;
    vertical-align: middle;
    width: calc(100% / 2);
  }
  .ld-notices  .btn-delete {
    border-radius: 15px;
    padding: 3px 0 0 ;
  }
  .ld-notices .container-cell.format-date {
    width: 50%;
    display: inline-block;
  }
}
@media (max-width: 479px) {
  .ld-notices .sub-list {
    width: 45%;
  }
  .ld-notices .sub-list:nth-of-type(2n + 1) {
    /*clear: left;*/
  }
}


















.ld-notices .note .ld-notice-icon:before,
.ld-notices .note.general .ld-notice-icon:before,
.ld-notices .note.Thanks .ld-notice-icon:before,
.ld-notices .note.thanks .ld-notice-icon:before,
.ld-notices .note.Meeting .ld-notice-icon:before,
.ld-notices .note.meting .ld-notice-icon:before,
.ld-notices .note.Sport .ld-notice-icon:before,
.ld-notices .note.sport .ld-notice-icon:before,
.ld-notices .note.Announcements .ld-notice-icon:before,
.ld-notices .note.announcements .ld-notice-icon:before,
.ld-notices .note.celebration .ld-notice-icon:before,
.ld-notices .note.Celebration .ld-notice-icon:before,
.ld-notices .note.After .ld-notice-icon:before,
.ld-notices .note.after .ld-notice-icon:before {
  font-family: FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
