.ld-policies .policy {
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 0;
  border: 1px solid #e6e7e8;
}
.ld-policies .policy-header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #e6e7e8;
}
.ld-policies .policy-header label {
  text-transform: capitalize;
}
.ld-policies .policy-header > span {
  background-color: #e6e7e8;
  padding: 10px 5px 5px;
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
}
.ld-policies .policy .policy-title {
  width: 90%;
}
.ld-policies .button-block {
  margin: 10px;
}
.ld-policies #policyText {
  margin: 15px;
  display: block
}
.ld-policies .add-file-list {
  margin: 15px;
}
.ld-policies .file-row {
  padding: 10px 0;
}
.ld-policies .file-row .btn-remove {
  margin-left: 10px;
}
.ld-policies .file-row .fa-download {
  padding-left: 10px;
}

/* add file */
.ld-policies #resourceImportModal .resource-browser .ld-card {
  display: none;
}
.ld-policies #resourceImportModal .ld-card.image,
.ld-policies #resourceImportModal .ld-card.pdf,
.ld-policies #resourceImportModal .ld-card.file {
  display: inline;
}

/* policyText overides all element css */
.ld-policies .policy .note-editor h1, .ld-policies .policy .note-editor header,
.ld-policies #policyText h1, .ld-policies #policyText header {
 background: none;
}
.ld-policies .policy .note-editor .note-editable {
  white-space: normal;
}
.ld-policies .policy .note-editor .note-editable ul, .ld-policies .policy .note-editor .note-editable ol,
.ld-policies #policyText ul, .ld-policies #policyText ol {
  padding: 0 40px 0;
}
.ld-policies .policy .note-editor .note-editable ul, .ld-policies #policyText ul {
  list-style: initial;
}
.ld-policies .policy .note-editor .note-editable a, .ld-policies #policyText a {
  color: #2e3192;
  text-decoration: underline;
}
