{% load static %}
<script type="text/javascript"
    src="{% static 'js/libs/jquery-1.9.1.min.js' %}"></script>

<script type="text/javascript"
    src="{% static 'js/libs/jquery-ui-1.10.4.custom.min.js' %}"></script>

<script type="text/javascript"
    src="{% static 'js/libs/countries.js' %}"></script>

<script type="text/javascript"
    src="{% static 'js/libs/bootstrap.min.js' %}"></script>
<script type="text/javascript"
    src="{% static 'js/libs/validation.js' %}"></script>
<script type="text/javascript"
    src="{% static 'js/application-nologged.js' %}"></script>
</body>
</html>
