/* General */
/* LD Card */
/* Classes Info */
/* Class List */
/* View about info */

/* General */

.ld-classes .tooltip.top {
  text-transform: capitalize;
}


.ld-classes {
  padding-bottom: 20px;
}
/* LD Card */
.ld-card.students .contents  {
  min-height: 320px;
}
.ld-card.teacher .contents  {
  min-height: 315px;
}
.ld-card .preview {
  width: 100%;
  height: 150px;
  background-color: #e6e7e8;
  background-repeat:no-repeat;
  background-size:cover;
  border-bottom: solid 1px #e6e7e8;
  position: relative;
}
.ld-card .preview-link  {
  display: block;
  width: 100%;
  height: 100%;
}
.ld-card .preview-noimage .preview-link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

/*.ld-card .preview img {
  max-width: 260px;
  min-width: 130px;
  max-height: 260px;
  min-height: 130px;
}
*/
.preview-teacher,
.preview-student-count {
  border-radius: 50%;
  background-color: #e6e7e8;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
  color: #939598;
  font-size: 18px;
  padding-top: 13px;
  overflow: hidden;
  display: inline-block;
  margin: 0 10px 0 0;
  font-family: 'Open Sans', sans-serif;
}
.ld-list .preview-teacher,
.ld-list .preview-student-count {
  float: right;
}
.ld-card .preview-student-count,
.ld-card .preview-teacher {
  position: absolute;
  right: 10px;
  top: 125px;
  z-index: 10;
}
.preview-teacher-picture  {
  height: 70px;
  padding-top: 10px;
}
.preview-student-count {
  padding-top: 7px;
}
.preview-teacher img  {
  margin-top: -13px;
  min-width: auto;
  min-height: auto;
}
.ld-card .preview-teacher-2  {
  right: 70px;
}
.ld-card .preview-teacher-3  {
  right: 130px;
}

.preview-student-count a {
  color: #6d6e71;
}
.preview-student-count .fa {
  font-size: 22px;
  display: block;
  margin-bottom: -3px;
}
.ld-card .inner-contents  {
  padding: 35px 10px 10px;
  position: relative;
}
.ld-card.teacher .inner-contents  {
  padding: 35px 10px 65px;
}
.ld-card .inner-contents .subject,
.ld-card .inner-contents .subject a,
.ld-list .subject,
.ld-list .subject a  {
  color: #6d6e71;
  margin-bottom: 0;
}
.ld-card.teacher .inner-contents .subject {
  height: 80px;
}
.ld-card .inner-contents .subject small {
  font-size: 14px;
  display: block;
  margin-top: 10px;
}
.ld-card.students .homework-text,
.ld-card.teacher .homework-text,
.homework-title,
.ld-card.students .subject {
  height: 20px;
  display: block;
}

.inner-contents .btn-newhomework {
  border-radius: 50%;
  background-color: #ff0097;
  box-shadow: 0px 2px 4px 0.25px rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 10px;
  bottom: 15px;
  width: 40px;
  height: 40px;
  z-index: 1;
  display: block;
  padding: 11px 0 0 11px;
}
.inner-contents .btn-newhomework .ld-icon-new {
  color: #fff;
}

/* Classes Info */
.ld-classes .ld-classes-stripe  {
    background: repeating-linear-gradient(
      135deg,
      #d1d3d4,
      #d1d3d4 10px,
      #bcbec0 10px,
      #bcbec0 20px
  );
}
.ld-classes .thumb-class {
  height: 150px;
  min-height: 150px;
  background-color: #e6e7e8;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
}
.ld-classes .thumb-class.thumb-class-image {
  height: auto;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
}
.ld-classes .class-placeholder {
  color: #939598;
  font-weight: 400;
  font-size: 20px;
  position: absolute;
  font-size: 24px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ld-classes .thumb-class img {
  width: 100%;
}
.ld-classes .classes-img img {
  width: 100%;
  background-color: #ff00cc;
}
.ld-classes .collapse-toggle  {
  cursor: pointer;
}

/* Class List */
.ld-classes table tr td {
  padding: 15px 10px;
}
.resources-list table td {
  padding: 0 !important;
}
.ld-classes .table tbody tr.subject-area {
  text-align: center;
}
.ld-classes td .btn-icon {
  float: left;
}
.ld-classes td a:not(.btn-icon) {
  font-size: 14px;
}
.ld-classes .container-cell .ld-tooltip.button-action {
  text-align: center;
}

/* Classes Homework List View*/
.ld-classes .container-cell {
    height: 70px;
}
.ld-classes .container-cell.container-title {
  width: 50%;
}
.ld-classes .container-cell.format-date {
  width: 30%;
}
.ld-classes .container-cell {
  width: 20%;
}

/* Basic class view layout layout */
.ld-classes.class-view {
  background: #fff;
}
.ld-classes.class-view section p {
  padding-left: 10px;
}

.ld-classes .table tbody > tr > td .text-cell {
  display: block;
  height: auto;
  padding: 20px;
  white-space: pre-line;
}

/* View about info */
.btn-edit-class-teacher {
  float: right;
}
.ld-classes.class-view .about .content {
  display: block;
  margin: 5px 0 20px;
}

/* View timeslots */
.ld-classes .slot-days {
  width: 100%;
  table-layout: fixed;
  margin-top: 20px;
  border-top: 1px solid #dcddde;
}
.ld-classes .slot-days tr td {
  padding: 0;
  padding-top: 20px;
  font-size: 16px;
}
.ld-classes .slot-days tr td p {
  margin: 0;
  font-weight: 600;
}
.ld-classes .slot-days tr td p.week {
  font-weight: 300;
  margin-top: 20px;
}

/* Nav Classes Resources*/
.ld-classes .ld-tabs.nav ul li a {
  width: 33.33%;
  height: 60px;
  float: left;
  text-align: center;
  font-size: 18px;
  padding: 18px 0 0;
  font-weight: 300;
  background-color: #ff0097;
}
.ld-classes .ld-tabs.nav.student-nav ul li a {
  width: 33.33%;
}
.ld-classes .nav ul li a {
  color: #fff;
}
.ld-classes .nav ul li a:hover {
  text-decoration: none;
  border-bottom: #8d0054 solid 5px;
  background-color: #8d0054;
}
.ld-classes .nav ul li.bt-new a {
  border-bottom: #8d0054 solid 5px;
  background-color: #8d0054;
}
.ld-classes .nav ul li.bt-new .fa.fa-pencil {
  margin-right: 10px;
}
.ld-classes .nav ul li.active a {
  border-bottom: #8d0054 solid 5px;
}
.ld-classes .nav.status .btn-all a, .ld-classes .nav.status0 .bt-to-do a,
.ld-classes .nav.status1 .bt-in-progress a,
.ld-classes .nav.status2 .bt-complete a,
.ld-classes .nav.status3 .btn-reviewed a {
  border-bottom: #ff0097 solid 5px;
}
.ld-classes .nav.status .btn-all:hover,
.ld-classes .nav.status0 .bt-to-do:hover,
.ld-classes .nav.status1 .bt-in-progress:hover,
.ld-classes .nav.status2 .bt-complete:hover,
.ld-classes .nav.status3 .btn-reviewed:hover {
  border-bottom: #8d0054 solid 5px;
}
/* view tabs */

.ld-classes .tab-pane.info.active, .ld-classes .tab-pane.students.active {
  display: inline-block;
  width: 100%;
}
.ld-classes .tab-pane.info.active {
  padding-top: 20px;
}
/* view resources-homework */
.icon-sign.ld-icon-new.classes {
  margin: 0;
  line-height: 1.95;
}

#viewImage {
  text-align: center;
}
#viewImage .modal-dialog {
  display: inline-block;
  width: auto;
  min-width: 450px;
}
#viewImage .preview {
  min-height: 200px;
  text-align: center;
}

/* Create/Edit class */
.ld-classes .classes-item {
  min-height: 250px;
}
.ld-classes .btn-box {
  border-bottom: 1px solid #c9c9c9;
  width: 100%;
  height: 100%;
  display: inline-block;
  padding-bottom: 20px;
}
.ld-classes .btn-box label:nth-last-child(1):not(nth-child(0)) {
  border-left: 1px solid #c9c9c9;
  margin-left: 20px;
  padding-left: 20px;
}
.ld-classes .btn-box .btn-flat {
  float: left;
  padding: 15px 40px;
}
.ld-classes.hover {
  border: 10px dashed #0c0;
}
.ld-classes .disabled-input {
  background-color: #f1f1f1;
  color: #c8c8cd;
  width: 100%;
  height: 45px;
  margin: 5px 0 20px;
  border: solid 1px #bcbec0;
  padding: 10px 0 0 5px;
  display: inline-block;
}
.ld-classes .btn.add-image {
  margin: 5px 0 20px;
  height: 45px;
  display: block;
}
.ld-classes .slots {
  padding: 0;
  margin-bottom: 12px;
}
.ld-classes .slots > label:first-of-type {
  display: block;
}
.ld-classes .create-slot {
  display: inline;
  float: right;
  color: #939598;
  cursor: pointer;
  font-size: 14px;
}
.ld-classes .create-slot .fa.fa-plus:before {
  color: #ff0097;
  font-size: 16px;
  margin: 5px 5px 0 0;
}
.ld-classes .slot-labels label {
  width: 32%
}
.ld-classes .new-slot .fa-plus {
  display: block;
  font-size: larger;
  padding: 10px 20px;
}
.ld-classes .new-slot .fa-times {
  font-size: larger;
}
.ld-classes .new-slot .ref {
  display: block;
}
.ld-classes .edit-slot {
  width: 100%;
  margin-top: 10px;
}
.ld-classes .edit-slot.validation-box.error.required .validation-error.required {
  width: 100%;
}
.ld-classes .btn-icon.create-slot {
  line-height: 17px;
  float: right;
  padding-left: 1px;
}
.ld-classes .edit-slot .select-day select, .ld-classes .edit-slot .select-time select {
  position: absolute;
  opacity: 0;
  left: 0;
}
.ld-classes .edit-slot .select-day, .ld-classes .edit-slot .select-time {
  border: solid 1px #bcbec0;
  width: 31%;
  position: relative;
  cursor: pointer;
}
.ld-classes .edit-slot > span {
  width: auto;
  padding: 0 10px;
  margin-right: 5px;
  float: left;
}
.ld-classes .edit-slot select {
  width: 100%;
  height: auto;
  display: inline-block;
  margin: 0;
  padding: 0;
  float: left;
}
.ld-classes .edit-slot input[type='text'] {
  width: 22%;
  height: auto;
  margin: 0;
  display: inline-block;
  color: #4d4d4f;
}
.ld-classes .edit-slot .remove-slot, .ld-classes .remove-item {
  display: inline-block;
  float: right;
  padding: 0;
  margin-right: 2px;
}
.ld-classes .edit-slot.error div.validation-error {
  display: block;
}
.ld-classes .btn.next-stage {
  margin-right: 0;
}
.ld-classes .btn.prev-stage span.fa, .ld-classes .btn.next-stage span.fa {
  font-size: 16px;
}
.ld-classes .fa-arrow-circle-o-left {
  margin-right: 5px;
}
.ld-classes .fa-arrow-circle-o-right {
  margin-left: 5px;
}
/* resource table */

.ld-classes .new .fa.fa-globe {
  display: inline;
}
.ld-resourse-count-new.no-item {
  display: none;
}
.resource-item {
  text-align: left
}
.resource-lists .resource-item .type {
  float: right;
}
.chosen-resources .resource-item {
  border: 1px solid #c9c9c9;
  background-color: white;
  padding: 5px 0;
  margin: 2px 5px;
}
#viewResourceModal .resource-block {
  height: 150px;
  background: #dddddd;
  margin: 2px;
}
#viewResourceModal .resource-block.image {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
#viewResourceModal .resource-block img {
  width: 100%;
}
#viewResourceModal .resource-block a {
  display: block;
  color: #888b1c;
}
#viewResourceModal .resource-block .icon-block {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
#viewResourceModal .resource-block .icon-sign {
  border: 3px solid;
  border-radius: 15px;
  padding: 5px;
  background: #fff;
  width: 31px;
  height: 30px;
}
#viewResourceModal .resource-block .icon-sign:before {
  font-family: FontAwesome;
  content: "\f15b";
}
#viewResourceModal .resource-block.image .icon-sign:before {
  font-family: FontAwesome;
  content: "\f03e";
}
#viewResourceModal .resource-block.text .icon-sign:before {
  font-family: FontAwesome;
  content: "\f036";
}
#viewResourceModal .resource-block .icon-sign {
  color: #888b1c;
}
#viewResourceModal .resource-block.image .icon-sign {
  color: #52c0dc;
}
#previewResourceModal img {
  max-width: 100%;
}
#previewResourceModal .btn-icon {
  display: inline-block;
  margin-left: 10px;
}
#addResourceModal .resource-block {
  border-radius: 4px;
  background: #e6e7e8;
  padding: 5px;
}
.resource-block .resource-preview {
  overflow: hidden;
  text-overflow: ellipsis;
}
#addResourceModal .resource-block .resource-preview * {
  max-width: 100%;
  word-wrap: break-word;
}
.resource-preview .file-link {
  display: block;
}

/* View students*/
.ld-classes .tab-content .btn-flat {
  padding: 15px;
}
.ld-classes .students .select-all, .ld-classes .students .select-none {
  padding: 0 5px;
  font-weight: bolder;
  cursor: pointer;
}
.teacher-info, .student-info {
  white-space: nowrap;
  padding: 5px!important;
  margin: 0 0 5px 0;
}
.join-students .student-info,
.join-students .teacher-info {
  width: 24%;
}
.teacher-info .student-info-box,
.student-info .teacher-info-box{
  padding: 0;
  border: 1px solid #fff;
}
.teacher-info img,
.student-info img {
  border: 1px solid #d5d5d5;
  margin-right: 10px;
  display: inline-block;
}
.student-info:hover {
  background-color: #f1f2f2;
}
.student-info:hover .student-info-box {
  border-color: #f1f2f2;
}
.student-info-box.current-students a,
.student-info-box.school-users a  {
  display: block;
}
.remove-students form {padding: 0;}

.student-info .student-info-box{
  border: 1px solid #fff;
}
.student-info.selected .student-info-box{
  background: #f1f1f1;
  border: 1px solid #d5d5d5;
}
.join-students .student-info:nth-child(3n+2),
.join-students .teacher-info:nth-child(3n+2) {
  margin: 0;
}
.ld-classes div.access-code {
  display: block;
  width: 100%;
  border-bottom: 1px solid #c9c9c9;
  color: #888a8d;
  padding-bottom: 20px;
}
.ld-classes div.access-code > span {
  display: inline-block;
}
.ld-classes div.access-code .ld-icon-backpack {
  font-size: 36px;
}
section div.selector, section div.selector span {
  height: 42px;
  line-height: 42px;
  margin: 0 0 20px;
}




@media only screen and (min-width: 319px) and (max-width: 767px) {
  /* Classes Homework List View*/
  .ld-classes .container-cell {
      height: 20px;
  }
  .ld-classes .container-cell.container-title,
  .ld-classes .container-cell.format-date,
  .ld-classes .container-cell {
    width: 100%;
  }

}
