.ld-classes .class-item .subject, .pink .ld-timetable .table.week td .class-code,
.pink .ld-new-buttons a, .pink .ld-new-buttons .ld-icon-new,
.pink.ld-classes .view-all, .pink .new-slot .fa-plus, .pink .new-slot .fa-times,
.pink .btn-delete, .pink .btn-flat, .pink .btn-flat .fa, .pink .ld-icon-new, .pink .topic.new-topic,
.pink .lowlite, .pink .semibold.subject, .pink .no-content .action,
.pink.ld-classes .students .select-all.selected, .pink.ld-classes .students .select-none.selected,
.pink .ld-checkbox input:checked + .display:before, .pink .color {
    color: #ff0097;
}
.pink.ld-classes .students .select-all, .pink.ld-classes .students .select-none  {
    color: #fb77bb;
}
.pink .btn-icon, .pink .btn, .pink.ld-box .ld-box-head .title, .pink .uploader .action,
.pink header, .pink .tooltip-inner, .pink .ld-student-status a,
.pink div.ld-CheckClass span.checked, .pink div.ld-CheckClass.hover span.checked,
.pink div.ld-RadioClass span.checked, .pink div.ld-RadioClass.hover span.checked, .pink .btn-flat.active, .pink .view-grid-list button,
.pink .ld-checkbox input:checked + .display {
    background-color: #ff0097;
}
 .pink.ld-classes .nav ul li {
    background-color: #fb77bb;
 }
.pink .btn-icon:hover, .pink .btn:hover {
    background-color: #ed037c;
}

.pink .form-control:focus, .pink input:focus, .pink textarea:focus {
    border-color: #ff0097;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 151, 0.6);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 151, 0.6);
}
.pink .modal-title, .pink div.ld-CheckClass span, .pink div.ld-CheckClass.hover span,
.pink div.ld-RadioClass span, .pink div.ld-RadioClass.hover span, .pink .ld-checkbox input + .display {
    border-color: #ff0097;
}
.pink .ld-tabs.nav ul li.active a {
    border-bottom-color: #8d0054;
}
/* tooltip border arrow */
.pink .tooltip.top .tooltip-arrow {
    border-top-color: #ff0097;
}
