/*.purple a*/
.purple .btn-delete, .purple .btn-delete .fa-trash-o, .purple .ld-new-buttons a,
.purple .ld-new-buttons .ld-icon-new, .purple .fc-header,
.purple .fc-button, .purple .color, .purple a.color  {
    color: #9752a3;
}

.purple .btn-icon, .purple .btn, .purple.ld-box .ld-box-head .dashboard-head,
.purple .tooltip-inner, .purple header, .purple .uploader .action,
.purple .agenda-item .time, .purple div.ld-CheckClass span.checked,
.purple div.ld-CheckClass.hover span.checked, .purple .fc-event,
.purple div.ld-RadioClass span.checked, .purple div.ld-RadioClass.hover span.checked,
#dashboard-events-box.purple table.ui-datepicker-calendar .ui-state-enabled a.ui-state-default {
    background-color: #9752a3;
}
.purple .fc-event {
  border-color: #9752a3;
}
.purple.btn-icon:hover, .purple .btn:hover {
    background-color: #7f3f98;
}

.purple .form-control:focus {
    border-color: #9752a3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(151, 82, 163, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(151, 82, 163, 0.075);
}

.purple .modal-title, .purple .header, .purple div.ld-CheckClass span, .purple div.ld-CheckClass.hover span, .purple div.ld-RadioClass span, .purple div.ld-RadioClass.hover span {
    border-color: #9752a3;
}

.purple .tooltip.top .tooltip-arrow {
    border-top-color: #9752a3;
}
